.sendForm {
    /* background-color: #f38585; */
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: flex-end;
    gap: 40px;
    padding: 30px 0;

}

.textarea {
    width: 100%;
    min-height: 40px;
    background-color: #F5F7FB;
    border-radius: 20px;
    padding: 12px 14px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-weight: 400;
    outline: none;
    overflow: hidden;
    resize: none;
    border: none;
}

.button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #0066CC;
    cursor: pointer;
    text-align: center;
    outline: none;
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
}

.button:hover {
    background-color: #3e82c7;


}
.button:active {
    background-color: #0255a7;
}
